@font-face{
    /*https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat&sidebar.open=true*/
    font-family: "Montserrat";
    src: url("font/Montserrat-Medium.ttf");
}

html{
    font-size: 32px;
}

h1{
    font-family: Montserrat, sans-serif;
    color: #211927;
    display: inline-block;
}

body{
    margin: 0;
    background-color: white;
}

.light_gray{
    background-color: rgb(243, 243, 243);
}

.img-scale{
    height: auto;
    max-width: 100%;
    padding: 0 .5rem 0 0; 
}

.center{
    margin: 0 auto;
}

.div-mod{
    height: 100%;
    width: 80%;
    position: relative;
    top: 3.5rem;
}
.img-align{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.about-end-mod{
    height: 100%;
    width: 100%;
    position: relative;
    top: 3.5rem;
}
/*----------------------Navbar Section-------------------------------------------*/
#navbar{
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

.page-links{
    position: relative;
    padding: 1rem 0 1rem 0;
}

#navbar img{
    height: auto;
    width: 4rem;
    margin: .5rem .5rem .5rem .5rem;
}

a{
    font-family: Montserrat, sans-serif;
    color: purple;
}

a:hover{
    color: pink;
}
/*-------------------------About Section----------------------------------------------*/
#ABOUT{

}
/*--------------------Designs Section----------------------------------------------*/

#DESIGNS{
    background-color: white;
}
/*---------------------Websites Section-----------------------------------------------*/
#WEBSITES{
    background-color: white;
}

/*--------------------------Projects Section------------------------------------*/
#PROJECTS{
    background-color: white;
}

/*--------------------------Social Media Section------------------------------------*/
#SOCIAL{
    background-color: purple;
    margin-top: 5rem;
}

/*------------------------Footer----------------------------------------*/